body {
    margin: 15px;
}

h1 {
    text-align: center;
}

h5 {
    padding-top: 15px;
}

#apod-info {
    width: 80%;
}

#img-title {

}

#image-and-expl {
    padding-top: 20px;

    display: flex;
}


.nasa-img {
    float: left;
    padding-right: 15px;
    width: 50%;
    height: 50%;
}

#explanation {
    color: black;
}